/****** RESPONSIVE DESIGN *****/

@media (min-width: 1137px) {
  .hero-header__page-title {
    top: 35%;
  }
}



@media (min-width: 769px) and (max-width: 991px) {
  .modal-content {
    width: 70%;
  }

  /* Navigation */
  .site-branding a {
    margin-left: 55px;
  }
  .main-navigation {
    margin-right: -40px;
  }
  .site-header {
    padding: 0px 150px 0px 0px;
  }
  .site-branding {
    width: 100%;
  }

  /* Banner */
  .img {
    max-height: 500px;
    width: auto;
  }
  .hero-header__page-title {
    font-size: 70px;
    line-height: 90px;
    top: 300px;
  }
  /* filtres*/
  .center {
    align-items: center;
  }
  .filters-container {
    place-content: center;
  }
  .dropdown-selected {
    width: 200px;
    place-items: center;
    justify-self: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .site-header {
  }
  .site-branding {
    width: 100%;
  }
  .main-navigation {
    width: 100%; /* Faz o menu ocupar toda a largura disponível em dispositivos móveis */
    margin-left: 0; /* Remove o margem à esquerda em dispositivos móveis */
  }

  .menu-toggle {
    display: block; /* Mostra o botão de menu em dispositivos móveis */
  }
  .hero-header__page-title {
    top: 29%;

    font-size: 60px;
  }

  .main-navigation ul {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  /* filtres*/
  .center {
    align-items: center;
  }
  .filters-container {
    place-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .dropdown-selected {
    width: 200px;
    place-items: center;
    justify-self: center;
    width: 500px;
  }
  .filter-left {
    place-content: center;
  }
}

@media (min-width: 375px) and (max-width: 575px) {
 
  .main-navigation ul {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .hero-header__page-title {
    top: 27%;

    font-size: 60px;
  }
  /* filtres*/
  .center {
    align-items: center;
  }
  .filters-container {
    place-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .dropdown-selected {
    width: 200px;
    place-items: center;
    justify-self: center;
    width: 500px;
  }
  .filter-left {
    place-content: center;§
  }
  /* FOOTER*/
  .footer-menu{
    display: flex;
    flex-direction: column;

  }
}
